.billboard {
  margin: auto;
  $_parent: &;
  padding: 90px 0;

  @media (min-width: $tablet) {
    padding: 130px 0;
  }

  &__inner {
    @extend %inner-width;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    padding: 0 20px;
    position: relative;

    @media (min-width: $tablet) {
      padding: 0;
    }

    // Sessions billboard is not centered
    #{$_parent}--sessions & {
      text-align: left;
    }
  }

  &__narrow {
    max-width: 750px;

    #{$_parent}--sessions & {
      max-width: 840px;
    }
  }

  &--summit {
    background: $nerd-peach;
    padding-top: 165px;
    padding-bottom: 150px;
  }

  &--sessions {
    background: url(../images/background-yellow.jpg);
    background-size: 100%;

    .billboard__button-container {
      text-align: left;
    }
  }

  &--location {
    background-color: $nerd-purple;

    @media (min-width: $tablet) {
      padding-top: 0;
    }

    #{$_parent}__inner {
      @media (min-width: $tablet) {
        background-image: url(../images/nerdy-recipes.png);
        background-repeat: no-repeat;
        background-position: top right;
        background-size: 220px;
      }
    }

    #{$_parent}__narrow {
      @media (min-width: $tablet) {
        padding-top: 130px;
      }
    }

    p:last-of-type {
      margin-bottom: 0;
    }
  }

  &--sponsors {
    @media (min-width: $tablet) {
      padding-bottom: 160px;
    }

    img {
      //margin-bottom: 60px;
    }
    .sponsor {
      width: 300px;
      margin-left: 20px;
      margin-right: 20px;
      text-align: center;
      a:not(.billboard__button) {
        font-size: 12px;
        font-weight: 900;
        color: #999;
        text-transform: uppercase;
        text-decoration: none;
        transition: border-bottom .2s;
        &:hover {
          border-bottom: solid 3px $nerd-blue--dark;
          color: black;
        }
      }
      img {
        width: 100%;
        height: auto;
      }
    }
  }

  &--about {
    background-color: $nerd-purple;

    @media (min-width: $tablet) {
      padding-bottom: 0;
    }

    #{$_parent}__inner {
      @media (min-width: $tablet) {
        background-image: url(../images/nerdy-dough.png);
        background-repeat: no-repeat;
        background-position: bottom right;
        background-size: 443px;
      }
    }

    #{$_parent}__columns {
      @media (min-width: $tablet) {
        padding-bottom: 90px;
      }
    }
  }

  &--contact {
    background: url(../images/background-purple.jpg);
    background-size: 100%;
  }

  &__callout {
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 25px;

    @media (min-width: $tablet) {
      font-size: 24px;
      margin-bottom: 35px;
    }
  }

  &__header {
    color: $nerd-blue--dark;
    font-size: 34px;
    font-weight: 900;
    line-height: 1.1;
    padding-bottom: 25px;

    @media (min-width: $tablet) {
      font-size: 48px;
      padding-bottom: 35px;
    }
  }

  &__subheader {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    &--sponsor {
       font-size: 24px;
       font-weight: 600;
       margin-bottom: 0px;
       @media (min-width: $tablet) {
      font-size: 30px;
      }
    }

    @media (min-width: $tablet) {
      font-size: 30px;
      margin-bottom: 30px;
    }
  }

  h4 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  h5 {
    margin: 15px 0;
  }

  &__button-container {
    width: 100%;
    text-align: center;
  }

  &__button-item {
    text-align: center;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    @media (min-width: $tablet) {
      display: inline-block;
      max-width: initial;

      &:not(:last-child) {
        margin-right: 40px;
        margin-bottom: 0;
      }
    }
  }

  &__button {
    font-size: 16px;
    border: solid 3px $nerd-blue--dark;
    padding: 4px 16px;
    display: block;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    transition: all .3s;

    &--primary {
      background-color: $nerd-blue--dark;
      color: white;

      &:hover {
        background-color: black;
        border-color: black;
      }
    }

    &--secondary {
      background-color: transparent;
      color: $nerd-blue--dark;

      &:hover {
        color: black;
        border-color: black;
      }
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
    a {
      margin: 0 20px;
    }
  }

  &__wrapper--sponsor {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-bottom: 50px;
    a {
      margin: 0 20px;
    }
  }

  &__columns {
    margin-top: 20px;

    @media (min-width: $tablet) {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      margin-top: 35px;

      > div {
        flex-basis: 50%;
      }
    }

    &--55-45 {

      @media (min-width: $tablet) {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        margin-top: 35px;

        > div:first-child {
          flex-basis: 55%;
        }

        > div:last-child {
          flex-basis: 45%;
        }
      }
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    li:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  p {
    font-weight: 400;
    margin-bottom: 30px;
    font-size: 18px;
  }

  a:not(.billboard__button) {
    font-size: 16px;
    font-weight: 900;
    color: $nerd-blue--dark;
    text-transform: uppercase;
    text-decoration: none;
    transition: border-bottom .2s;

    &:hover {
      border-bottom: solid 3px $nerd-blue--dark;
      color: black;
    }
  }
}


// TODO create a new partial for nerdy stuff
.nerdy {
  &__hero {
    display: none;

    @media (min-width: $tablet) {
      display: inline;
      width: 240px;
      position: absolute;
      bottom:-225px;
      right: 50px;
    }
  }

  &__sessions {
    display: none;

    @media (min-width: $tablet) {
      display: inline;
      width: 430px; 
    }

  }

  &__sponsors {
    display: none;

    @media (min-width: $tablet) {
      display: inline;
      width: 480px;
      position: absolute;
      bottom:-325px;
      left: 0;
    }
  }
}
