.billboard {
  margin: auto;
  $_parent: &;
  padding: 90px 0;

  @media (min-width: $tablet) {
    padding: 130px 0;
  }

  &__inner {
    @extend %inner-width;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    padding: 0 20px;

    @media (min-width: $tablet) {
      padding: 0;
    }

    // Sessions billboard is not centered
    #{$_parent}--sessions & {
      text-align: left;
    }
  }

  &__narrow {
    max-width: 740px;
  }

  &--summit {
    background: $nerd-peach;
    height: 500px;
    padding: 0;
  }

  &--sessions {
    background: url(../images/background-yellow.jpg);
    background-size: 50%;
  }

  &--location {
    background-color: $nerd-purple;

    p:last-of-type {
      margin-bottom: 0;
    }
  }

  &--sponsors {
  }

  &--about {
    background-color: $nerd-purple;
  }

  &--contact {
    background: url(../images/background-purple.jpg);
    background-size: 50%;
  }

  &__callout {
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 25px;

    @media (min-width: $tablet) {
      font-size: 24px;
      margin-bottom: 35px;
    }
  }

  &__header {
    color: $nerd-blue--dark;
    font-size: 36px;
    font-weight: 900;
    line-height: 1.1;
    padding-bottom: 25px;

    @media (min-width: $tablet) {
      font-size: 48px;
      padding-bottom: 35px;
    }
  }

  &__subheader {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;

    @media (min-width: $tablet) {
      font-size: 30px;
      margin-bottom: 30px;
    }
  }

  // TODO think of a class name instead of using h4 here
  h4 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  &__button-container {
    width: 100%;
    text-align: center;
  }

  &__button-item {
    text-align: center;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    @media (min-width: $tablet) {
      display: inline-block;
      max-width: initial;

      &:not(:last-child) {
        margin-right: 40px;
        margin-bottom: 0;
      }
    }
  }

  &__button {
    font-size: 16px;
    border: solid 3px $nerd-blue--dark;
    padding: 4px 16px;
    display: block;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    transition: all .3s;

    &--primary {
      background-color: $nerd-blue--dark;
      color: white;

      &:hover {
        background-color: black;
        border-color: black;
      }
    }

    &--secondary {
      background-color: transparent;
      color: $nerd-blue--dark;

      &:hover {
        color: black;
        border-color: black;
      }
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;

    a {
      margin: 0 20px;
    }
  }

  &__columns {
    margin-top: 20px;

    @media (min-width: $tablet) {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      margin-top: 35px;

      > div {
        flex-basis: 50%;
      }
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    li:not(:last-child) {
      margin-bottom: 10px;

      @media (min-width: $tablet) {
        margin-bottom: 20px;
      }
    }
  }

  p {
    font-weight: 400;
    margin-bottom: 30px;
    font-size: 18px;
  }

  a:not(.billboard__button) {
    font-size: 16px;
    font-weight: 900;
    color: $nerd-blue--dark;
    text-transform: uppercase;
    text-decoration: none;
    transition: border-bottom .2s;

    &:hover {
      border-bottom: solid 3px $nerd-blue--dark;
      color: black;
    }
  }

  img {
    margin-bottom: 60px;
  }
}
