// from design, footer box:
// height: 855px;	
// width: 1200px;
// 855/1200 = .7125

.footer {
  background-color: #F9F7F0;
  text-align: center;
  img.social-icon {
    fill: #000000;
  }

  .nerd-ngo-link {
    font-family: $base-font-family;
    font-weight: 800;
    display: block;
    padding:20px 0 20px 0;
  }
  .nerd-code-link {
    display: block;
    padding:20px 0 20px 0;
  }

  ul.social-media-links {
      display: flex;
      justify-content: space-evenly;
      max-width: 20rem;
      margin: auto;
      padding-top: 20px;
      padding-bottom: 20px;
  }

  &__inner {
    @extend %inner-width;
    padding-top: 5%;
    padding-bottom: 30%;
    min-height: 500px; 
    background-image: url(../images/nerdy-whisking.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 300px;
    @media (min-width: $full-width) {
        background-size: 443px;
    }
  }
}
