.header {
  background: rgb(255, 229, 227);
  display: flex;
  justify-content: center;
  &--fixed {
    text-align: center;
    position: fixed;
    transition: all 0.1s ease;
    z-index: 1;
  }
  &__inner {
    height: 110px; //80px;  
    width: 100%;
        a{
          text-decoration: none;
          color: black;
          //padding: 25px;       
          @media (max-width: 854px) and (min-width: 767px){
            padding: 15px;
            text-align: left;
             }
        } 
        @media (min-width: 1200px){
          
        } 
  }
  &--scroll{
    background: white;
    box-shadow: 0px 10px 39px 0px rgba(165,171,189,0.37);
    a{
      text-decoration: none;
      color: black;
      //padding: 25px;
    }
  }
}
