.header {
  &--fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
  }

  &__inner {
    @extend %inner-width;
    display: flex;
    align-items: center;
  }
}
