.section {
  &__inner {
    @extend %inner-width;
  }
  padding-left: 10%;
padding-right: 10%;
}

section.section.section--summit {
  height: 400px;
background: #ffe5e3;
// background: red;
padding: 50px;
// padding-left: 10%;
// padding-right: 10%;
@media (min-width: 1200px) {
  margin-left: 10%;
margin-right: 10%;
padding-left: 5%;
padding-right: 5%;
     }


}

h2.section__header{
  font-size: 52px;
  color: #2027bd;
}