.section {
  &__inner {
    @extend %inner-width;
  }
  padding-left: 10%;
padding-right: 10%;
}

section.section.section--summit {
  height: 400px;
background: #ffe5e3;
// background: red;
padding: 50px;
// padding-left: 10%;
// padding-right: 10%;
@media (min-width: 1200px) {
  margin-left: 10%;
margin-right: 10%;
padding-left: 5%;
padding-right: 5%;
     }


}

h2.section__header{
  font-size: 3rem;
  color: $nerd-blue;
  font-weight: 900;
  line-height: 3.1875rem;
  text-align: center;
}
.section__subtitle {
  font-size: 1.5rem;
  color:$nerd-grey;
  font-weight: 500;
  line-height: 1.875rem;
  text-align: center;
}