.section--sessions {
  padding-top: 50px;
  .timeslots {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 50px;
    .timeslot {
      width: 50%;
      text-align: center;
      .inner {
        text-align: left;
        padding: 10px;
      }
    }
  }
  // individual session component 
  .session {
    padding: 20px;
    border: 2px solid #CCCCCC;
  }
}
