// Colors
$nerd-peach: #ffe5e3;
$nerd-yellow: #F9F7F0;
$nerd-purple: #ECF1FD;
$nerd-blue--dark: #2027bd;

// Breakpoints 
$mobile: 600px;
$tablet: 768px;
$full-width: 1200px;
$full-header-width: 100%;

// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,900&display=swap');
$base-font-family: 'Montserrat', sans-serif;
