// Colors
$nerd-green: #5ccf18;
$nerd-green--light: #a1db7e;
$nerd-pink: #ff3369;
$nerd-pink--light: #e0699a;
$nerd-purple: #500092;
$nerd-purple--light: #8302ee;
$nerd-orange: #f0852d;
$nerd-yellow: #fffb83;

// breakpoints 
$mobile: 600px;
$tablet: 768px;
$full-width: 1280px;
$full-header-width: 100%;
